.properties {
}
.pListItems {
  width: 100%;
  max-width: 1024px;
  gap: 20px;
  display: flex;
  justify-content: space-around;
}
.pList {
  flex: 1;
  gap: 10px;
  display: flex;
  flex-direction: column;
}
.pImage {
  width: 100%;
  height: 150px;
}
.pTitile {
  display: flex;
  flex-direction: column;
}
.pTitleName {
  font-weight: 700;
}
.pTitleCity {
  font-weight: 400;
}
.pTitlePrice {
  font-weight: 500;
}
.pTitleRate {
}
.pTitleRatebtn {
  font-size: 15px;
  font-weight: 550;
  color: white;
  background-color: #359fcf;
  border: none;
  padding: 5px 5px;
}
.good {
  margin-left: 5px;
  font-size: 15px;
}
