.header{
    background-color: #359fcf;
    display: flex;
    justify-content: center;
    position: relative;
    
}

.headerContainer{
    width: 100%;
    max-width: 1024px;
    margin: 20px 0 50px 0;
    color: white;
   
}
.headerList{
    display: flex;
    gap:5%;
}
.headerItems{
    display: flex;
    gap:10px;
    align-items: center;
}
.headerItems.active{
    border: 1px  solid rgb(255, 255, 255);
    padding: 10px;
    border-radius: 20px;
}
.headerbtn{
    padding: 10px 10px;
    background-color:#Fff;
    border: none;


}
.headerSearch{
    height: 30px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 2px solid #febb02;
    padding: 10px 0px;
    border-radius: 5px;
    position: absolute;
    bottom: -25px;
    width: 100%;
    max-width: 1024px;
}
.headerSearchItems{
    display: flex;
    gap: 10px;
    align-items: center;
}
.headerIcons{
    color: rgb(0, 0, 0);
}
.headerSearchBtn{
    padding: 10px 10px;
    background-color: #359fcf;
    border: none;

}
.headerSearchText{
    color: black;
}

.HeaderSearchDate{
    position: absolute;
    top:50px;
}
.optionList{
    position: absolute;
    width: 210px;
    top:50px;
    background-color: white;
    color: gray;
}
.optionListItems{
    display: flex;
    gap: 10px;
    margin-bottom:10px;
    justify-content: space-between ;
}
.optionCounterBox{
    display: flex;
    gap: 20px;
    align-items: center;
}